name: CI

on:
  push:
    branches: [master]
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install gh-tools
        run: |
          curl -fsSL -O https://github.com/appscodelabs/gh-tools/releases/latest/download/gh-tools-linux-amd64
          chmod +x gh-tools-linux-amd64
          sudo mv gh-tools-linux-amd64 /usr/local/bin/gh-tools

      - name: Protect Branches
        env:
          GH_TOOLS_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
        run: |
          gh-tools protect --dryrun=false \
            --fork=true \
            --skip=appscode-images/builder

      - name: Avoid Rate Limit
        run: sleep 30m

      - name: Activate Dependabot
        env:
          GH_TOOLS_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
        run: |
          gh-tools dependabot --fork=true

      - name: Avoid Rate Limit
        run: sleep 30m

      - name: Add Labels
        env:
          GH_TOOLS_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
        run: gh-tools add-labels
